$blueColor : rgb(91, 110, 124);
$transparent: transparent;
$navsColor: #132448;
$navyblue: #132448;
$lightnavy: #174567;
$white: #ffffff;
$lightBlue: #00d2ff;
$cartCount: #dd2424; 
$slickarrow: #354669;
$txtGray: #888;
$whiteSmoke: #e2e8ed;