<div class="flex-mattrees-section us" style="display: flex; flex-flow: row wrap; margin: 0 auto; width: 95%;">
    <div class="col-md-6 col-sm-6 col-xs-6  usbanner-div" style="padding: 0; margin: 0;">
        <img class="lazyload w-100 h-100" src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/made-in-usa.png?t=1623908461'}}">
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 banner-div1" style="background: url({{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/banner-us-flash.png?t=1623735492'}});position: relative;padding: 0;background-repeat: no-repeat;background-size: cover; display: grid; place-items: center;">
        <div class="us-banner-description" data-aos="fade-left" style="padding: 0;margin: 0;width: 80%;margin: 0 auto; ">
            <h3 style="color:#fff; font-size: 28px;"><b>Proudly Made in the USA</b></h3>
            <p style="font-size: 18px; color:#fff;"> Icon Sleep is a high-quality, trusted brand made, designed,<br> and established in the USA. Icon Sleep encourages everyone <br> to buy local and support our economy.</p>
        </div>
    </div>
</div> 


<div class="banner-most-affordable position-relative mx-auto mt-5" style="width: 95%; background: url({{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/affordable-usa-banner.png?t=1623736740'}}); background-size: cover;display: grid;place-items: flex-start;background-position: center;padding: 11% 0;">
    <img class="lazyload position-relative mx-auto w-100" />
    
    <div class="most-affordable-desc" data-aos="fade-right" style="width: 95%; margin-left: auto;">
        <h2> <span style="font-weight: 800;">Most Affordable</span><br> USA-Made <br>Mattress </h2>
        <p >Jaw-dropping prices, same iconic experience. Starts at <span style="color:red;">$199</span> </p>        
        <a href="/green-tea-memory-foam-bed-mattres/" class="mattress-button-aff animation-element invi bounce-in duration-1500 in-view">Shop Now</a>  
    </div>
</div>
